@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --default-text-color: #3C4D82;
    --default-input-border: #CFAC48;
    --default-input-fill: #FBBF24;

    --default-tab-enable: #091B50;
    --default-tab-disable: #E0E4EF;

    --default-button-primary-fill: #091B50;
    --default-button-primary-text: #E0E4EF;

    --default-button-secondary-fill: #E3A70C;
    --default-button-secondary-text: #E0E4EF;

}